@charset "utf-8";
/* CSS Document by mrm.mahmoodi@gmail.com == Maryam Mahmoodi == */
/* <---- browser reset */

@media all{
	
/* Global reset of paddings and margins for all HTML elements */
*{  
	padding:0;
	margin:0;
}

/* Correction:margin/padding reset caused too small select boxes. */
option{
	padding-left:0.4em;
}/*LTR*/

select {
	padding:1px;
}

/* (en) Global fix of the Italics bugs in IE 5.x and IE 6 */
* html body *{
	overflow:visible;
}

body{
	background-color:#D7D7D7;
	font-family: 'Droid Sans',Tahoma,Arial,Verdana sans-serif;
	font-size:16px;
	font-size:100.01%; /* Fix for rounding errors when scaling font sizes in older versions of Opera browser */
	color:#000;
	text-align:right; /* for RTL */
}

div{
	outline:0 none;
}

/* HTML 5 - adjusting visual formatting model to block level */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display:block;
}

/* Clear borders for <fieldset> and <img> elements */
fieldset, img {
	border:0 solid;
}

/* Clear borders/outline for links when you click */
a:active, a:href, a:hover {
 border:0 none;
 outline:0 none;
}

@font-face {
    font-family: 'IconicStroke';
    src: url('../font/iconic_stroke-webfont.eot');
    src: url('../font/iconic_stroke-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/iconic_stroke-webfont.woff') format('woff'),
		url('../font/iconic_stroke-webfont.ttf') format('truetype'),
		url('../font/iconic_stroke-webfont.svg#IconicStrokeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

} 

@media print {

.noprint {
	display:none !important;
}

}
/*  browser reset -----/> */

/*========================================================*/
/* <---------- start page of contacus ---------- /> */
 h1{
	font-family: 'Questrial', Verdana, sans-serif;
	text-align:center;
	font-size:25px;
	color:#696A59;
	position:relative;
	margin:0 0 20px 0;
	padding-top:15px;
}

/** create the gradient bottom **/
h1:before {
	position:absolute;
	bottom:15px;
 	content:' '; 
	text-align:center;
  display:block;
  height:2px;
	width:100%;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(182,180,180,0.7) 42%, rgba(180,178,178,0) 43%, rgba(168,166,166,0) 50%, rgba(180,178,178,0) 57%, rgba(182,180,180,0.7) 58%, rgba(238,237,237,0.3) 90%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(182,180,180,0.7)), color-stop(43%,rgba(180,178,178,0)), color-stop(50%,rgba(168,166,166,0)), color-stop(57%,rgba(180,178,178,0)), color-stop(58%,rgba(182,180,180,0.7)), color-stop(90%,rgba(238,237,237,0.3)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%); /* W3C */
}

/* have a nice ampersand :)*/
h1:after {
	font-size:25px;
	color:#CFD7C4;
	width:100%;
	content:'&'; 
	text-align:center;
	display:block;
	font-family: 'Alice', Verdana, serif ;
	text-shadow: 0px 1px 0px #fff;
}

div.content{
	width:400px;
	min-height:550px;
	margin:0 auto;
	position:relative; 
	padding:30px;
	z-index:100;
	border:1px solid #383838;
	background: -moz-repeating-linear-gradient(-45deg, #5F71F1 , #5F71F1 30px, #F2F2F2 40px, #F2F2F2 50px, #CD7E7C 40px, #CD7E7C 70px,#F2F2F2 90px, #F2F2F2 100px); /* FF3.6+ */
    background: -webkit-repeating-linear-gradient(-45deg, #5F71F1 , #5F71F1 30px, #F2F2F2 40px, #F2F2F2 50px, #CD7E7C 40px, #CD7E7C 70px,#F2F2F2 90px, #F2F2F2 100px); /* webkit */
    background: -o-repeating-linear-gradient(-45deg, #5F71F1 , #5F71F1 30px, #F2F2F2 40px, #F2F2F2 50px, #CD7E7C 40px, #CD7E7C 70px,#F2F2F2 90px, #F2F2F2 100px); /* opera */
    background: repeating-linear-gradient(-45deg, #5F71F1 , #5F71F1 30px, #F2F2F2 40px, #F2F2F2 50px, #CD7E7C 40px, #CD7E7C 70px,#F2F2F2 90px, #F2F2F2 100px); /* */
		
		/*border-radius*/
	-webkit-border-radius:8px;
  	 -moz-border-radius:8px;
        	border-radius:8px;
/*box-shadow*/
	-webkit-box-shadow:0px 1px 6px #3F3F3F;
  	 -moz-box-shadow:0px 1px 6px #3F3F3F;
       	  box-shadow:0px 1px 6px #3F3F3F;
}

div.content:after{
	position:absolute;
	min-height:510px;
	margin:10px;
	z-index:-1;
	content : " ";
	top:0;
	left:0;
	right:0;
	bottom:0;
	border:1px #E5E5E5 solid;   
	background-color:#F9F9F9;
	-webkit-border-radius:8px;
		 -moz-border-radius:8px;
					border-radius:8px;

}
/*** form styling **/

/** we remove the red glow around required fields since we are already using the red star */
input:required, textarea:required { 
	-webkit-box-shadow:none;  
   	 -moz-box-shadow:none;  
       -o-box-shadow:none;  
          box-shadow:none;  
}

/** inputs and textarea**/
input:not([type="submit"]), textarea{
	outline:none;
	display:block;
	direction:rtl;
	text-align:right;
	width:380px;
	padding:4px 8px;
	border:1px dashed #DBDBDB;
	color:#3F3F3F;
	font-family:'Droid Sans',Tahoma,Arial,Verdana sans-serif;
	font-size:14px;
	/*border-radius*/
	-webkit-border-radius:2px;
		 -moz-border-radius:2px;
					border-radius:2px;
	/*transition*/
	-webkit-transition:background 0.2s linear,
						 box-shadow 0.6s linear;
		 -moz-transition:background 0.2s linear,
						 box-shadow 0.6s linear;
			 -o-transition:background 0.2s linear,
						 box-shadow 0.6s linear;
					transition:background 0.2s linear,
						 box-shadow 0.6s linear;
}
input:not([type="submit"]):active, 
textarea:active,
input:not([type="submit"]):focus, 
textarea:focus{
	background:#F7F7F7;
	border:dashed 1px #5C744E;
	/*box-shadow*/
	-webkit-box-shadow:2px 2px 7px #B4CAA4 inset;
		 -moz-box-shadow:2px 2px 7px #B4CAA4 inset;
					box-shadow:2px 2px 7px #B4CAA4 inset;
}
input:not([type="submit"]){
	height: 20px;
}

#usersite{
	text-align:left;
	direction:ltr;	
}

/* placeholder */
::-webkit-input-placeholder  { 
	color:#BABABA; 
	font-style:italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color:#BABABA;
	font-style:italic;
} 
textarea{
	min-height:150px;
	resize:vertical
}

/** labels**/

/** adding our icon font !! */
.iconic:before{
	font-size:25px;
	font-family: "IconicStroke";
}

label{
	color:#7F7E7E;
	-webkit-transition: color 1s ease;
		 -moz-transition: color 1s ease;
					transition: color 1s ease;
}

label:hover{
color:#191919;
}
label:before{
	color:#C1BFBD;
	-webkit-transition: color 1s ease;
		 -moz-transition: color 1s ease;
					transition: color 1s ease;
}
label:hover:before{
	color:#969696;
	-webkit-transition: color 1s ease;
		 -moz-transition: color 1s ease;
					transition: color 1s ease;
}

p{
	margin-bottom:20px;
}
.indication{
	color:#878787;
	font-size:12px;
	font-style:italic;
	text-align:right;
	padding-right:10px;
}
.required{
	color:#E5224C;
}




/** Styling the send button **/
input[type=submit]{
	margin-right:250px;
	cursor:pointer;
	background:none;
	border:none;
	font-family: 'Alice',serif;
	color:#767676;
	font-size:18px;
	padding:10px 15px;
	border:1px solid #E0E0E0;
	text-shadow: 0px 1px  1px #E8E8E8;
	background:#F7F7F7;
	background: -moz-linear-gradient(top,  rgba(247,247,247,1) 1%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(247,247,247,1)), color-stop(100%,rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
	background: linear-gradient(top,  rgba(247,247,247,1) 1%,rgba(242,242,242,1) 100%);
	/*border-radius*/
	-webkit-border-radius:5px;
		 -moz-border-radius:5px;
					border-radius:5px;
	/*box-shadow*/
	-webkit-box-shadow:0px 1px 1px #FFF inset,
							 0 0 0px 5px #EAEAEA;
		 -moz-box-shadow:0px 1px 1px #FFF inset,	
									 0 0 0px 5px #EAEAEA;
					box-shadow:0px 1px 1px #FFF inset,	
								 0 0 0px 5px #EAEAEA;
	/*transition*/
	-webkit-transition:all 0.2s linear;
		 -moz-transition:all 0.2s linear;
			 -o-transition:all 0.2s linear;
					transition:all 0.2s linear;
}

input[type=submit]:hover{
	color:#686868;
	border-color:#C8CFAD;
	background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,244,244,1)), color-stop(100%,rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
	background: linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(242,242,242,1) 100%);
	/*box-shadow*/
	-webkit-box-shadow:0px 1px 1px #FFF inset,			
										 0 0 0px 5px #D3DACB;
		 -moz-box-shadow:0px 1px 1px #FFF inset,
								0 0 0px 5px #E0E0E0;
					box-shadow:0px 1px 1px #FFF inset,
								0 0 0px 5px #D3DACB;        
}

input[type=submit]:active,
input[type=submit]:focus{
	position:relative;
	top:1px;
	color:#515151;
	background: rgb(234,234,234);
	background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(242,242,242,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(242,242,242,1)));
	background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
	background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
	background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
	background: linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(242,242,242,1) 100%);
	/*box-shadow*/
	-webkit-box-shadow:0px -1px 1px #FFF inset,
						 0 0 0px 5px #C6CDA9;
		 -moz-box-shadow:0px -1px 1px #FFF inset,
						 0 0 0px 5px #C6CDA9;
					box-shadow:0px -1px 1px #FFF inset,
						 0 0 0px 5px #C6CDA9;
}

/* <---------- the End of page of contacus ---------- /> */
